<h2>Book Availability</h2>

<table border="1">
<tr>
  <th>Name</th>
  <th>Author</th>
  <th>Status</th>
  <th>Action</th>
</tr>

<% books.forEach(b => { %>
<tr>
  <td><%= b.title %></td>
  <td><%= b.author %></td>
  <td><%= b.status %></td>
  <td>
    <% if (b.status === 'Available' && user.role === 'user') { %>
      <form method="POST" action="/transactions/request-issue">
        <input type="hidden" name="bookId" value="<%= b._id %>">
        <button>Request Issue</button>
      </form>
    <% } else { %>
      ---
    <% } %>
  </td>
</tr>
<% }) %>
</table>

<br>

<% if (user.role === 'user') { %>
<a href="/transactions/my-books">My Books</a><br><br>
<% } %>

<% if (user.role === 'admin') { %>
<a href="/transactions/admin/pending">Pending Issues</a><br>
<a href="/transactions/admin/returns">Return Requests</a><br><br>
<% } %>

<a href="/logout">Logout</a>
